{
  "title": "Pixel8",
  "description": "Pixelation based image effects processing in JavaScript.",
  "author": {
    "name": "Cory Gross",
	"email": "CoryG89@gmail.com",
	"url": "http://coryg89.github.io",
	"github": "http://github.com/CoryG89",
	"handle": "CoryG89"
  },
  "analytics": "UA-XXXXXXXX-X"
}